.idea
cmake-build-debug
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/aisdiGraphs
src/cmake_install.cmake
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/Testing/
tests/aisdiGraphsTests
tests/cmake_install.cmake
